 header{
 	background-color: #1B0601;
 	text-align: center;
 	padding-top: 50px;
 	padding-bottom: 40px;
 }

header h1{
 	color: #F74806;
 	font-size: 40px;
 }

 header img{
 	border-radius: 150px;
 	width: 200px;
 	border: 5px solid #F74806;
 }

 body{
 	margin: 0;
 	font-family: 'Josefin Sans', sans-serif;
 	font-size: 15px;
 	background-color: black;
 }

 h1, h2{
 	font-family: 'Anton', sans-serif;
 	font-size: 30px;
 	color: #F74806;
 }

 h2{
 	margin: 20px 0 10px;
 }

 main{
 	max-width: 800px;
 	margin: 0 auto;
 	padding: 0 20px 2px;
 	background-color: #E4CBBC;
 }

 main img{
 	max-width: 100%
 }

 a{
 	color: #F74806;
 }

 a:hover{
 	color: white;
 }

 p{
 	color: #1B0601;
 }

p.caption{
	color: #1B0601;
	font-style: italic;
	margin-top: 0;
}

 ol{
 	color: #1B0601;
 }

 footer{
 	max-width: 800px;
 	margin: 0 auto;
 	padding: 0px 20px;
 	background-color: #E4CBBC;
 	text-align: center;
 }